{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}新华辞典{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="word">字/词</label>
    <input type="text" name="word" id="word" placeholder="输入字词" required>
    <button type="submit" class="btn btn-primary">搜索</button>
  </form>
  {% if definition and word %}
    <h1>字/词: {{ word }}</h1>
    <ul>
      <li>拼音: {{ definition.pinyin }}</li>
      <li>笔画: {{ definition.strokes }}</li>
      <li>解释: {{ definition.explanation }}</li>
      <li>更多解释: {{ definition.more }}</li>
    </ul>  
  {% endif %}
{% endblock %}